127.0.0.1 localhost
127.0.1.1 {{ inventory_hostname }}

# Ceph Public Network
{% for host in groups['ceph_nodes'] | default([]) -%}
{{ hostvars[host].ceph_public_ip }} {{ host }}
{% endfor %}

# Ceph Cluster Network
{% for host in groups['ceph_nodes'] | default([]) -%}
{{ hostvars[host].ceph_cluster_ip }} {{ host }}-cls
{% endfor %}

# IPv6 defaults
::1 localhost ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
